[Desktop Entry]
Encoding=UTF-8
Name=Link to bakedbrie.jpg
Type=Link
URL=https://github.com/oscarwarnling/dinnerplanner-html/blob/master/images/bakedbrie.jpg
Icon=text-html
